@import '../src/styles//colours.scss';

html,
body {
  width: 100%;
  background-color: $background;
}

@media only screen and (max-width: 480px) {
  html,
  body {
    height: calc(100% - 75px);
  }
}

body {
  color: $font-primary;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Martel", serif;
  color: $font-primary;
}

h3 {
  font-size: larger;
}

hr {
  border-top: 1px solid $font-secondary;
  border-bottom: none;
}

a {
  text-decoration: none;
  color: $font-primary;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
